.oculto{
    display: none;
}
h1{
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}
h2{
    text-decoration: underline;
    font-size: 25px;
}
.altaUsuario{
    background-color: lightgreen;
}
